img {
	display: block;
	margin: auto;
}

.container {
	display:block;
	margin: auto;
	width: 20%;

}

.right {
	display:block;
	margin: auto;
	float: right;
	width: 50%;
}
.logout {
	display:block;
	position:absolute;
	float:right;
	margin: right;
}

.left {
	display:block;
	margin: auto;
	float: left;
	text-align: left;
}

.bottom {
	margin:0;
	padding:0;
}
#images{
	align:center;
	background: url(../../images/SecondPageButton.png);
	heigth: 300px;
	width: 300px;
	background-position: center;
	img-align: middle
}

#text{
	font-family:Courier New;
	background-color: white;
	filter: alpha(opacity=100);
	opacity: 0.55;
	font-weight: bold;
	font-size: 20px;
	color: black;
	text-align: center;
}
.serverbutton{
	margin: auto;
	display: block;
}

form{
margin:0;
padding:0;
}

input[type="text"]
{
	background: transparent;
	border: none;
	visibility: hidden
}